{% load static %}


<!DOCTYPE html>
<html>


{% include 'bets/bodies/home_body.html' %}
<div class="container">
            {% if user.is_authenticated %}
    
        
                

                {% if live %}
                     
                    <div class="accordion" id="accordionExample">
                    
               
                        <div class="card">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                               <button class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Your Live Bets
                             </button>
                              </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                              <div class="card-body">
                                {% for l in live %}
                                    
                                     <!-- <div id="betrows" class="row justify-content-sm-center mt-3 p-2"> -->

                                    
                                        <!-- <div class="col"> -->
                                            <!-- <b> <i class="fa fa-fw fa-trophy"></i>  -->
                                          <div class="alert alert-warning" role="alert">
                                              {% if l.usr == request.user.username %}
                                               <strong> {{l}}   </strong> 
                                              {% else %}
                                               <strong> {{l.take}}  </strong> 
                                              {% endif %}
                                          </div>
                                            <!-- </b> -->
                                        <!--     
                                        </div> -->
                                       
                          
                                    <!-- </div> -->
                                  
                                {% endfor %}
                               
                              </div>
                            </div>
                        </div>
                   
                    </div>

                {% endif %}


                {% if pending %}
                     
                    <div class="accordion" id="accordionExample">
                    
               
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                              <h2 class="mb-0">
                               <button class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                              Your Pending Bets
                             </button>
                              </h2>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                              <div class="card-body">
                                {% for p in pending %}
                                    <div class="alert alert-light" role="alert">
                                    
                                        <strong>{{p}}</strong>
                                    </div>
                                    
                                     <!-- <div id="betrows" class="row justify-content-sm-center mt-2 p-2">
                                    
                                        <div class="col">
                                            <b> <i class="fa fa-fw fa-trophy"></i> {{p}}  </b>
                                            
                                        </div>
                                       
                          
                                    </div> -->
                                  
                                {% endfor %}
                               
                              </div>
                            </div>
                        </div>
                   
                    </div>

                {% endif %}


           


                {% if past %}
                     
                    <div class="accordion" id="accordionExample">
                    
               
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                              <h2 class="mb-0">
                               <button class="btn btn-light" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                              Your Past Bets
                             </button>
                              </h2>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                              <div class="card-body">
                                {% for pa in past %}

                                    
                                    {% if pa.user_winner %}
                                      {% if pa.usr == request.user.username %}
                                      <div class="alert alert-success" role="alert">
                                      
                                        <strong> {{pa}} +{{pa.bet_payout}}</strong>

                                      </div>
                                      {% else %}
                                      <div class="alert alert-danger" role="alert">
                                      
                                        <strong> {{pa.take}} -{{pa.bet_payout}}</strong>

                                      </div>
                                      {% endif %}


                                    {% else %}
                                      {% if pa.usr == request.user.username %}
                                      <div class="alert alert-danger" role="alert">
                                      
                                        <strong> {{pa}} -{{pa.bet_wager}}</strong>

                                      </div>
                                      {% else %}
                                      <div class="alert alert-success" role="alert">
                                      
                                        <strong> {{pa.take}} +{{pa.bet_wager}}</strong>

                                      </div>
                                      {% endif %}

                                    {% endif %}

                                    
                                
                                  
                                {% endfor %}
                               
                              </div>
                            </div>
                        </div>
                   
                    </div>

                {% endif %}


            {% else %}
                <p><a href="/login"> Login</a> here</p>
            {% endif %}
            </div>
</div>
     

</body>
</html>