{% load static %}


<!DOCTYPE html>
<html>


{% include 'bets/home_body.html' %}
<div class="container">
            {% if user.is_authenticated %}
    
               <!-- <div id="title" class="row justify-content-center mt-3">
                <div class="col-md-auto">
                  <h2> <strong> History</strong>  </h2>
                </div>
              </div> -->
                

                {% if live %}
                     
                    <div class="accordion" id="accordionExample">
                    
               
                        <div class="card">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                               <button class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Your Live Bets
                             </button>
                              </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                              <div class="card-body">
                                {% for l in live %}
                                    
                                     <div id="betrows" class="row justify-content-sm-center mt-3 p-2">
                                    
                                        <div class="col">
                                            <b> <i class="fa fa-fw fa-trophy"></i> 
                                              {% if l.usr == request.user.username %}
                                                {{l}}  
                                              {% else %}
                                                {{l.take}}  
                                              {% endif %}
                                            </b>
                                            
                                        </div>
                                       
                          
                                    </div>
                                  
                                {% endfor %}
                               
                              </div>
                            </div>
                        </div>
                   
                    </div>

                {% endif %}


                {% if pending %}
                     
                    <div class="accordion" id="accordionExample">
                    
               
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                              <h2 class="mb-0">
                               <button class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                              Your Pending Bets
                             </button>
                              </h2>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                              <div class="card-body">
                                {% for p in pending %}
                                    
                                     <div id="betrows" class="row justify-content-sm-center mt-2 p-2">
                                    
                                        <div class="col">
                                            <b> <i class="fa fa-fw fa-trophy"></i> {{p}}  </b>
                                            
                                        </div>
                                       
                          
                                    </div>
                                  
                                {% endfor %}
                               
                              </div>
                            </div>
                        </div>
                   
                    </div>

                {% endif %}


           


                {% if past %}
                     
                    <div class="accordion" id="accordionExample">
                    
               
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                              <h2 class="mb-0">
                               <button class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                              Your Past Bets
                             </button>
                              </h2>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                              <div class="card-body">
                                {% for pa in past %}
                                    
                                     <div id="betrows" class="row justify-content-sm-center mt-2 p-2">
                                    
                                        <div class="col">
                                             <b> <i class="fa fa-fw fa-trophy"></i> 
                                              {% if pa.usr == request.user.username %}
                                                {{pa}}  
                                              {% else %}
                                                {{pa.take}}  
                                              {% endif %}
                                            </b>
                                            
                                            
                                        </div>
                                       
                          
                                    </div>
                                  
                                {% endfor %}
                               
                              </div>
                            </div>
                        </div>
                   
                    </div>

                {% endif %}


            {% else %}
                <p><a href="/login"> Login</a> here</p>
            {% endif %}
            </div>
</div>
     

</body>
</html>