{% load static %}

<!DOCTYPE html>
<html>
{% include 'streamer/streamer_body.html' %}



    <div class="main">
        <div class="container">
        {% if user.is_authenticated and user.profile.is_streamer %}
          <form action="" method="POST">
            <div id="add" class="row justify-content-center mt-3 p-2">
                
              
                
                    {% csrf_token %}
                    <div class="col-auto">
                      <label> <strong> Title for Stream:  </strong> <input type="text" name="match_name"></label>
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-light"> Confirm </button>
                    </div>
              
            </form>
            </div>
          
        </div>
            

        {% else %}
            <p><a href="/login"> Login</a> here</p>
        {% endif %}
        </div>
    </div>
        

</body>
</html>